# cannot yet make these portable across platforms and user accounts; but intent is to go there someday
.gitconfig

# secrets that cannot live in the repo
.private
.ssh/

# Debian-specifics that don't belong on other platforms
.aptitude/

# 3rd-party binaries/executables that are platform-specific
bin/

# temp or volatile files
.bash_history
.cache/
.m2/
.*swp
tmp/

# source code working directories
projects/
src/

# app or utility specific that I don't want common across platforms
.489454.padl
.anyconnect
.array_vpn/
.bash_sessions/
.bluemix/
.bundle/
.cf/
.CFUserTextEncoding
.config/
.cisco/
.cups/
.dbshell
.dbus/
.dmrc
.docker/
.dropbox-dist/
.dropbox/
.fontconfig/
.gconf/
.gem
.git/
.glide/
.gnome/
.gnome2/
.gnome2_private/
.gstreamer-0.10/
.gtk-bookmarks
.gvfs/
.homebrew*
.ICEauthority
.ipynb*
.ipython/
.jupyter/
.kube/
.lesshst
.local/
.macromedia/
.matplotlib/
.mavenrc
.minikube/
.minio/
.mission-control/
.mongorc.js
.mozilla/
.mylg.config
.node-gyp/
.node_repl_history
.npm/
.oracle_jre_usage/
.pip/
.pki/
.pulse/
.pulse-cookie
.qalculate/
.rediscli_history
.rnd
.spark*yaml
.sudo_as_admin_successful
.swt/
.thumbnails/
.tmux/resurrect/
.travis/
.v8flags*
.viminfo
.vim/.netrwhist
.wget-hsts
.vscode/
.xsession-errors
.xsession-errors.old
.Xauthority
curr-pkgs.txt
demo/
examples.desktop
github/
isy/
lib/
miniconda3/
pkg/
stkeystore.p12
tensorflow/

# macOS home sub-dirs are not portable (for me)
.DS_Store
.Trash/
Applications/
Box Sync/
Conferencing/
Desktop/
Documents/
Downloads/
Dropbox/
IBMERS/
Library/
Movies/
Music/
Pictures/
Public/
Templates/
Videos/
