[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".tmux/plugins/tmux-resurrect"]
	path = .tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule ".tmux/plugins/tmux-sensible"]
	path = .tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule ".tmux/plugins/tmux-yank"]
	path = .tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
[submodule ".vim/pack/colors/opt/solarize"]
	path = .vim/pack/colors/opt/solarize
	url = https://github.com/rwhorman/vim-colors-solarized.git
[submodule ".vim/pack/statusline"]
	path = .vim/pack/statusline
	url = https://github.com/rwhorman/vim-statusline.git
[submodule ".vim/pack/ctags"]
	path = .vim/pack/ctags
	url = https://github.com/rwhorman/vim-ctags
[submodule ".vim/pack/latex/start/vimtex"]
	path = .vim/pack/latex/start/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule ".vim/pack/vim/start/vim-devicons"]
	path = .vim/pack/vim/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule ".vim/pack/files/start/fzf"]
	path = .vim/pack/files/start/fzf
	url = git@github.com:junegunn/fzf.vim.git
