# cannot yet make these portable across platforms and user accounts; but intent is to go there someday
.gitconfig

# secrets that cannot live in the repo
.private
.ssh/

# Debian-specifics that don't belong on other platforms
.aptitude/

# 3rd-party binaries/executables that are platform-specific
bin/
cbin/

# temp or volatile files
.bash_history
.cache/
.m2/
.*swp
tmp/
*.log

# source code working directories
projects/
src/

# app or utility specific that I don't want common across platforms
.489454.padl
.anyconnect
.array_vpn/
.bash_sessions/
.bluemix/
.bundle/
.cf/
.CFUserTextEncoding
.cisco/
.compiz/
.config/QtProject.conf
.config/asciinema/
.config/autostart/
.config/compiz-1/
.config/configstore
.config/dconf/
.config/eog/
.config/evolution/
.config/git
.config/gnome-control-center/
.config/gnome-initial-setup-done
.config/goa-1.0/
.config/google-chrome/
.config/gtk-3.0/
.config/htop
.config/ibus/
.config/libaccounts-glib/
.config/libreoffice/
.config/lxc/
.config/menus/
.config/mimeapps.list
.config/monitors-v1-backup.xml
.config/monitors.xml
.config/monitors.xml~
.config/nautilus/
.config/neofetch/
.config/pulse/
.config/rtv/
.config/software-center/
.config/totem/
.config/ubuntu-amazon-default/
.config/ubuntu-ui-toolkit/
.config/unity/
.config/unity-monitors-v1-backup.xml
.config/unity-monitors.xml
.config/update-notifier/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/yelp/
.cpan/
.cups/
.dbshell
.dbus/
.dmrc
.docker/
.dropbox-dist/
.dropbox/
.fontconfig/
.gconf/
.gem
.ghc/
.git/
.glide/
.gnome/
.gnome2/
.gnome2_private/
.gnupg/
.gstreamer-0.10/
.gtk-bookmarks
.gvfs/
.homebrew*
.httpie
.ICEauthority
.ipynb*
.ipython/
.jupyter/
.kube/
.kubefyre/
.launchpadlib/
.lesshst
.local/
.macromedia/
.matplotlib/
.mavenrc
.minikube/
.minio/
.mission-control/
.mongorc.js
.mozilla/
.mylg.config
.node-gyp/
.node_repl_history
.npm/
.nv/
.nvidia-settings-rc
.oracle_jre_usage/
.pencil/
.perl6/
.pip/
.pki/
.pulse/
.pulse-cookie
.python_history
.qalculate/
.rediscli_history
.rnd
.selected_editor
.spark*yaml
.subversion/
.sudo_as_admin_successful
.swt/
.thumbnails/
.thunderbird/
.tmux/resurrect/
.travis/
.v8flags*
.viminfo
.vim/.netrwhist
.wget-hsts
.vscode/
.xinputrc
.xsession-errors
.xsession-errors.old
.Xauthority
Dropbox
curr-pkgs.txt
demo/
examples.desktop
github/
isy/
lib/
miniconda3/
pkg/
snap/
stkeystore.p12
tensorflow/

# home sub-dirs that are not portable
.DS_Store
.Trash/
Applications/
Box Sync/
Conferencing/
Desktop/
Documents/
Downloads/
Dropbox/
IBMERS/
Library/
Movies/
Music/
Pictures/
Public/
Templates/
Videos/
